html {font-size: 1em;}

body {
  font-family: sans-serif;
  color: #333;
  background: #EEE;
  min-height: 100%;
  font-weight: 400;
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

button,
input {
  font-size: 1em;
}
